configuration {
    font:							"Fira Code Nerd Font 12";
    show-icons:                     true;
    icon-theme: 					"oomox-gruvbox_dark";
    display-drun: 					"";
    drun-display-format:            "{name}";
    disable-history:                false;
    sidebar-mode: 					false;
}

* {
    background:                     #00000000;
    background-alt:              	#00000000;
    background-bar:                 #f2f2f215;
    foreground:                     #ebdbb2;
    accent:			            	#fabd2f;
    border:                    #d3869b;
}

window {
    transparency:                   "real";
    background-color:               @background;
    text-color:                     @foreground;
    border:							0px;
    border-color:					@border;
    border-radius:                  0px;
    width:							100%;
    height:							100%;
}

prompt {
  enabled: 						true;
	padding: 						0.30% 1% 0% -0.5%;
	background-color: 				@background-alt;
	text-color: 					@foreground;
	font:							"Fira Code 12";
}

textbox-prompt-colon {
	expand: 						false;
	str: 							"(ɔ◔︣‿◔︣)ɔ ❤  𝐷𝑜𝑔𝐵𝑜𝑦 𝑁𝑜 𝑅𝑖𝑣𝑎𝑙𝑠  ❤ ʕ•́ᴥ•̀ʔっ";
	background-color: 				transparent;
	text-color: 					@foreground;
  border:							0px 0px 4px 0px;
  border-color:					@border;
  border-radius:                  0px;
  padding:                        0.5% 0.5% 0.5% 1.8%;
  margin:                         0% 23% 0.5% 23%;
	font:							"Fira Code Nerd Font 20";
}

entry {
    background-color:               @background-alt;
    text-color:                     @foreground;
    placeholder-color:              @foreground;
    expand:                         true;
    horizontal-align:               0;
    placeholder:                    "Search";
    padding:                        0.10% 0% 0% 0%;
    blink:                          true;
}

inputbar {
	children: 						[ prompt, entry ];
    background-color:               @background-bar;
    text-color:                     @foreground;
    expand:                         false;
	border:							0% 0% 0% 0%;
    border-radius:                  12px;
	border-color:					@accent;
    margin:                         0% 25% 0% 25%;
    padding:                        1.5%;
}

listview {
    background-color:               @background-alt;
    columns:                        8;
    lines:                          4;
    spacing:                        0%;
    cycle:                          false;
    dynamic:                        true;
    layout:                         vertical;
}

mainbox {
    background-color:               @background-alt;
	border:							0% 0% 0% 0%;
    border-radius:                  0% 0% 0% 0%;
	border-color:					@accent;
    children:                       [ textbox-prompt-colon, inputbar, listview ];
    spacing:                       	8%;
    padding:                        10% 12.5% 10% 12.5%;
}

element {
    background-color:               @background-alt;
    text-color:                     @foreground;
    orientation:                    vertical;
    border-radius:                  0%;
    padding:                        2.5% 0% 2.5% 0%;
}

element-icon {
    background-color: 				@background;
    text-color:       				inherit;
    horizontal-align:               0.5;
    vertical-align:                 0.5;
    size:                           80px;
    border:                         0px;
}

element-text {
    background-color: 				@background;
    text-color:       				#ffffff90;
    expand:                         true;
    horizontal-align:               0.5;
    vertical-align:                 0.5;
    margin:                         0.5% 0.5% -0.5% 0.5%;
}

element selected {
    background-color:               @background-bar;
    text-color:                     @foreground;
    border:							0% 0.2% 0% 0.2%;
    border-radius:                  12px;
    border-color:                  @border;	
}

element-text selected {
  text-color:                     @foreground;
}
