# Random Wallpaper Every Login
feh --bg-fill --randomize ~/.config/Pictures/Wallpapers-TokyoNight/*

# Don't Randomly Turn off
# xset s off
# xset -dpms
# xset s noblank
pulsaudio &

# Speedy keys
xset r rate 210 40

# Picom for transparent
picom --experimental-backends &

# Hide mouse when typing
xbanish &

# Screenshots
flameshot &

# Make notification more beautiful
dunst &

# Network Manager Applet
nm-applet --indicator &

# Bluetooth systray icon
blueman-applet &

# Set server for copy to clipboard
# greenclip daemon &
copyq &

# Helps with pulsaudio
# pasystray &

