* {
    background:                     #00000000;
    background-alt:              	#00000000;
    background-bar:                 #ebdbb2;
    foreground:                     #000000;
    accent:			            	#fabd2f;
    element-selected:        #ebdbb2;
    element-text-selected:        #000000;
    border:                    #fabd2f;
}

