configuration {
	font:	"Fira Code 18";
  show-icons: false;
  drun-display-format: "{name}";
  disable-history: false;
	sidebar-mode: false;
}

@import "styles/dracula.rasi"

window {
    transparency:                   "real";
    background-color:               @background;
    text-color:                     @foreground;
    border-radius:                  0px;
    /* height:                         28.5%; */
    height:                         39.5%;
    width:                          50%;
    border:                  		0.2% 0% 0.2% 0%;
    padding:                        0%;
    border-radius:                  12px;
    border-color:                  	@border;
    location:                       center;
    x-offset:                       0;
    y-offset:                       0;
}

prompt {
    enabled: 						true;
    padding:                        0.5% 0.5% 0.5% 0%;
    background-color: 				transparent;
    text-color: 					@foreground;
    margin:                         0% 0% 0% 10%;
    border:                  		0% 0.2% 0% 0.2%;
    padding:                        0% 0.2% 0% 0%;
    border-radius:                  12px;
    border-color:                  	@border;
    background-color:               @background-alt;
    position: center;
}

textbox-prompt-colon {
	expand: 						false;
	str: 							"(ɔ◔︣‿◔︣)ɔ ❤  𝐷𝑜𝑔𝐵𝑜𝑦 𝑁𝑜 𝑅𝑖𝑣𝑎𝑙𝑠  ❤ ʕ•́ᴥ•̀ʔっ";
	background-color: 				transparent;
	text-color: 					@foreground;
  padding:                        0.5%;
  margin:                         0% 2% 0.5% 0%;
}

inputbar {
	/* children: 						[ textbox-prompt-colon, prompt ]; */
    children: 						[ textbox-prompt-colon ];
    background-color:               @background-alt;
    text-color:                     @foreground;
    expand:                         false;
    border:                  		0.1% 0.5% 0.1% 0.5%;
    border-radius:                  12px;
    border-color:                  	@border;
    margin:                         0% 2% 0% 0%;
    padding:                        0% 0% 0% 10%;
}

listview {
    background-color:               @background;
    margin:                         0% 0% 0% 0.75%;
    spacing:                        2%;
    cycle:                          true;
    dynamic:                        true;
    layout:                         horizontal;
    background-color: 				transparent;
    margin:                         2% 0% 0% 0%;
}

mainbox {
    background-color:               @background;
    children:                       [ inputbar, listview, prompt ];
    spacing:                        3.5%;
    padding:                        4% 0% 4% 2%;
}

element {
    background-color:               @background-alt;
    text-color:                     @foreground;
    orientation:                    horizontal;
    border-radius:                  25px;
}

element-text {
    background-color: 				#00000000;
    text-color:       				inherit;
    font:							"feather 32";
    expand:                         true;
    horizontal-align:               0.5;
    vertical-align:                 0.5;
    margin:                         4.5% 2.7% 4.5% 2.7%;
}

element normal.urgent,
element alternate.urgent {
    background-color:               @urgent;
    text-color:                     @foreground;
    border-radius:                  0.2%;
}

element normal.active,
element alternate.active {
    background-color:               @background-alt;
    text-color:                     @foreground;
}

element selected {
    background-color:               @selected;
    text-color:                     @foreground;
    border:                  		0.4% 0% 0.4% 0%;
    border-radius:                  25px;
    border-color:                  	@border;
}

element selected.urgent {
    background-color:               @urgent;
    text-color:                     @foreground;
}

element selected.active {
    background-color:               @background-alt;
    color:                          @foreground;
}
